{% extends 'front/base_headline_template.html.twig' %}

{% block body %}
    {% include 'front/profile/_provile_navbar.html.twig' %}
    {% include 'front/_common/_filtering_form_view.html.twig' with {'filteringForm': salonsFilterForm, 'createUrl' : path('profile_salons_create')} %}
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Created at
                    </th>
                    <th>
                        Updated at
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for salon in salons %}
                <tr>
                    <td>
                        {{ salon.name }}
                    </td>
                    <td>
                        {{ salon.city.name }}
                    </td>
                    <td>
                        {{ salon.address }}
                    </td>
                    <td>
                        {{ salon.createdAt.format('d.m.Y. H:i:s') }}
                    </td>
                    <td>
                        {{ salon.updatedAt.format('d.m.Y. H:i:s')}}
                    </td>
                    <td>
                        <a href="{{ path('profile_salons_update', {'id': salon.id}) }}">edit</a>
                    </td>
                    <td>
                        <a href="#" data-href="{{ path('profile_salons_delete', {'id': salon.id}) }}" data-toggle="modal" data-target="#profile-confirm-delete">delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'front/profile/_confirm_delete_window.html.twig' %}
        {% include 'front/_common/_pager.html.twig' %}
    </div>
{% endblock %}