{% extends 'admin/base_admin.html.twig' %}

{% block title %} Cars {% endblock %}

{% block body %}
    {% include 'admin/_common/_filtering_form_view.html.twig' with {'filteringForm': carsFilterForm, 'createUrl' : path('admin_cars_create')} %}

    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title pull-left">Cars</h4>
            <h5 class="cart-title pull-right">Total count: {{ pager.nbResults }}</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    <th>
                        ID
                    </th>
                    <th>
                        Salon
                    </th>
                    <th>
                        Model
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Created at
                    </th>
                    <th>
                        Updated at
                    </th>
                    </thead>
                    <tbody>
                    {% for car in cars %}
                        <tr>
                            <td>
                                {{ car.id }}
                            </td>
                            <td>
                                {{ car.salon.name }}
                            </td>
                            <td>
                                {{ car.model.brand.name }} {{ car.model.name }}
                            </td>
                            <td>
                                <img src="{{ upload_asset(car.image.name) | imagine_filter('cars_thumb_100_100') }}" />
                            </td>
                            <td>
                                {{ car.createdAt.format('d.m.Y. H:i:s') }}
                            </td>
                            <td>
                                {{ car.updatedAt.format('d.m.Y. H:i:s')}}
                            </td>
                            <td>
                                <a href="{{ path('cars_show', {'id': car.id}) }}" target="_blank"><i class="material-icons">open_in_browser</i></a>
                            </td>
                            <td>
                                <a href="{{ path('admin_cars_update', {'id': car.id}) }}"><i class="material-icons">edit</i></a>
                            </td>
                            <td>
                                <a href="#" data-href="{{ path('admin_cars_delete', {'id': car.id}) }}" data-toggle="modal" data-target="#confirm-delete"><i class="material-icons">close</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'admin/_common/_pager.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}